body {
    background-color: #d0e4fe;
	font-family: 'Signika', sans-serif;
	height: 100%;
}

::-webkit-scrollbar {  
    width: 26px;  
}  
::-webkit-scrollbar-track {  
    background-color: #e0edfe;  
}  
::-webkit-scrollbar-thumb {  
    background-color: #80b4fb;  
}  
::-webkit-scrollbar-thumb:hover {  
    background-color: #9fc5fd;  
} 


h1 {
    color: #376597;
}

p {
    font-family: 'Signika', sans-serif;
    font-size: 20px;
	margin-top: 10px;
	text-align: left;
}

button {
  display: inline-block;
  margin: 3px;
  font-size: 20px;
  appearance: none;
  box-shadow: none;
  border-radius: 5px;
  font-family: 'Signika', sans-serif;
}
button:focus {
  outline: none
}
input:focus {
  outline: none
}

/*Synonyms style*/
span.synonyms button{
	padding-right: 25px;
	border-color: #b7f975;
	background-color: #c5fa8f;
    color: #004400;
	box-shadow: 2px 2px 2px #a6cbfd;
}

span.synonyms button.hover,
span.synonyms button:hover
{
	padding-right: 25px;
	border-color: #d3fcab;
	background-color: #dcfedc;
    color: #001c00;
	box-shadow: 2px 2px 2px #78b0fc;
}

span.synonyms button.active,
span.synonyms button:active
{
	padding-right: 25px;
	border-color: #d0e4fe; /*body background color*/
	background-color: #70d60a;
    color: #001c00;
	box-shadow: 0px 0px 0px #78b0fc;
}

/*Antonyms style*/
span.antonyms button{
	padding-right: 25px;
	border-color: #ff3131;
	background-color: #ff5555;
    color: #6f0000;
	box-shadow: 2px 2px 2px #a6cbfd;
}

span.antonyms button.hover,
span.antonyms button:hover
{
	padding-right: 25px;
	border-color: #ff5555;
	background-color: #ff7979;
    color: #001c00;
	box-shadow: 2px 2px 2px #78b0fc;
}

span.antonyms button.active,
span.antonyms button:active
{
	padding-right: 25px;
	border-color: #d0e4fe; /*body background color*/
	background-color: #d70000;
    color: #2b0000;
	box-shadow: 0px 0px 0px #78b0fc;
}

/*Actions style*/
span.actions button{
	padding-right: 25px;
	border-color: #bd5eaa;
	background-color: #cb7ebc;
	color: #481e40;
	box-shadow: 2px 2px 2px #a6cbfd;
}

span.actions button.hover,
span.actions button:hover
{
	padding-right: 25px;
	border-color: #cb7ebc;
	background-color: #d79bcb;
    color: #001c00;
	box-shadow: 2px 2px 2px #78b0fc;
}

span.actions button.active,
span.actions button:active
{
	padding-right: 25px;
	border-color: #d0e4fe; /*body background color*/
	background-color: #7d336f;
	color: #220f1e;
	box-shadow: 0px 0px 0px #78b0fc;
}

/*Record style*/
span.record{
	color: #0567eb;
	}
	
span.record button{
	padding-right: 25px;
	border-color: #3187fb;
	background-color: #4a96fb;
	color: #033881;
	box-shadow: 2px 2px 2px #a6cbfd;
}

span.record button.hover,
span.record button:hover
{
	padding-right: 25px;
	border-color: #3187fb;
	background-color: #accefd;
	color: #0567eb;
	box-shadow: 2px 2px 2px #78b0fc;
}

/*Delete style*/
.delete{
	padding-right: 8px !important;
	margin-left: -28px;
	background-color: #7eb4fc !important;
	color: #1160ca !important;
}

.delete:hover{
	padding-right: 8px !important;
	margin-left: -28px;
	border-color: #db0000 !important;
	background-color: #ff6f6f !important;
	color: #ffffff !important;
	box-shadow: 1px 1px 1px #d00000 !important;
}
.delete:active{
	padding-right: 8px !important;
	margin-left: -28px;
	border-color: #d0e4fe !important;
	background-color: #990000 !important;
	color: #ed7069 !important;
	box-shadow: 1px 1px 1px #d0e4fe !important;
}

/*Add style*/
.add{
	padding-right: 8px !important;
	margin-left: -28px;
	font-size: 22px;
	border-size: 2px;
}

/*.add:hover{
	padding-right: 8px !important;
	margin-left: -28px;
	border-color: #db0000 !important;
	background-color: #ff6f6f !important;
	color: #ffffff !important;
	box-shadow: 1px 1px 1px #d00000 !important;
}
.add:active{
	padding-right: 8px !important;
	margin-left: -28px;
	border-color: #d0e4fe !important;
	background-color: #990000 !important;
	color: #ed7069 !important;
	box-shadow: 1px 1px 1px #d0e4fe !important;
}*/

.word input {
	margin: 10px;
	width: 70%;
    font-family: 'Signika', sans-serif;
    font-size: 34px;
	text-align: left;
	border-radius: 10px;
	box-shadow: 1px 1px 1px #a6cbfd;
	
	border: solid 1px #dedede;
	padding: 11px 25px;  
	padding-left: 75px; 
	background: #f8f8f8 url('assets/images/pen.svg') 0px 0px no-repeat;
	background-size: contain;
	color: #444;
		
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;  
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;  
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;   
	
	transition: background-color 0.15s linear 0s,border 0.25s linear 0s, box-shadow 0.25s linear 0s, color 0.25s linear 0s;  
	-webkit-transition: border 0.25s linear 0s, box-shadow 0.25s linear 0s, color 0.25s linear 0s;  
	-moz-transition: border 0.25s linear 0s, box-shadow 0.25s linear 0s, color 0.25s linear 0s;  
	-o-transition: border 0.25s linear 0s, box-shadow 0.25s linear 0s, color 0.25s linear 0s;
}

.word input:focus {
    color: #000;  	
	background-color: #fff;
	border-color: rgba(41, 92, 161, 0.4);  
    
	box-shadow: 3p 3px 3px rgba(0, 0, 0, 0.2) inset, 0 0 8px rgba(41, 92, 161, 0.6);  
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(41, 92, 161, 0.6);  
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(41, 92, 161, 0.6);  
	outline: 0 none;
}

.word button {
	margin: 10px;
    font-family: 'Signika', sans-serif;
    font-size: 34px;
	border-radius: 10px;
	
	border: solid 1px #dedede;
	padding: 11px 25px;  

	border-color: #b7f975;
	background-color: #c5fa8f;
    color: #004400;
	box-shadow: 2px 2px 2px #a6cbfd;	
}

.word button:hover
{
	border-color: #d3fcab;
	background-color: #dcfedc;
    color: #001c00;
	box-shadow: 2px 2px 2px #78b0fc;
}

.word button.active,
.word button:active
{
	border-color: #d0e4fe; /*body background color*/
	background-color: #70d60a;
    color: #001c00;
	box-shadow: 0px 0px 0px #78b0fc;
}

.word{
	text-align: center;
	width: 100%;
}

#palette {
	padding: 2%;
	border-radius: 25px;
	border: 4px solid #deecfe;
	text-align: center;
	margin-bottom: 15px;
    overflow: auto;
}

#records {
	/*background: url('') 30px 22px no-repeat;	
	background-size: 65px;*/
	padding: 2%;
	border-radius: 25px;
	border: 4px solid #deecfe;
	text-align: left;
	margin-bottom: 15px;
}

#recordsMenu {
	text-align: center;
	width: 10%;
	display: inline-block;
	vertical-align: middle;
}

#recordsWords{
	text-align: left;
	width: 88%;
	display: inline-block;
	vertical-align: middle;
}

#flowLogo {
	width: 65px;
	height: 65px;
}

#footer {
	padding: 2%;
	text-align: center;
    color: #95c1fd;
	font-size: 14px;
	height:5%;
}

a:link{
   text-decoration: none;
   color: #70abfc;
}

a:hover{
   text-decoration: none;
   color: #ffffff;
}
a:active{
   text-decoration: none;
   color: #bfc1c1;
}

a:visited{
   text-decoration: none;
   color: #3494ab;
}