<!doctype html>
<html>
<head>
<title>wordflow</title>
<!-- Angular JS -->
<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
<link href='http://fonts.googleapis.com/css?family=Signika' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="style.css">
<meta charset="utf-8"> 

</head>
<body>

<div ng-app="" ng-controller="synonymsController" class="container-fluid"> 

	<div id="record">
		<p>				 
			<span ng-repeat="word in words" class="record">
				<button ng-click="changeWordFromRecord(word)">{{ word }}</button>&nbsp;>&nbsp; 
			</span>
		</p>
	</div>
	
	<div id="palette" align="center">
		<div class="word" align="left">
		<input autofocus placeholder="Type a word here" type='text' ng-model='rootWord' ng-change="reloadSynonyms()"/>
		</div>

				<p>				 
				<span ng-repeat="noun in nouns" class="synonyms">
					<button ng-click="changeWord(noun)">{{ noun }}</button>
				  </span>
				</p>
				  
				<p>
				<span ng-repeat="ant in antonyms" class="antonyms">
					<button ng-click="changeWord(ant)">{{ ant }}</button>
				  </span>
				</p>
			
				<p>
				  <span ng-repeat="verb in verbs" class="actions">
					<button ng-click="changeWord(verb)">{{ verb }}</button>
				  </span>
				</p>
	</div>

<div id="footer">
	Made with love by philippedubost,<br />
	based on <a href="http://www.w3schools.com/angular/AngularJS" target="_blank">AngularJS</a> and <a href="http://words.bighugelabs.com/api.php" target="_blank">Thesaurus API</a>,<br />
	icons by <a href="http://www.thenounproject.com" target="_blank">thenounproject.com</a>.
</div>

	</div>


<script>
function get(name){
   if(name=(new RegExp('[?&]'+encodeURIComponent(name)+'=([^&]*)')).exec(location.search))
      return decodeURIComponent(name[1]);
}

function synonymsController($scope,$http) {
	//$scope.rootWord = "action";
	//$scope.rootWord = "action";
	
	flow = get("flow");
		
	if(typeof flow == 'undefined') {
		$scope.words = [];
		console.log("pas de GET");
	}else{
		console.log("GET: "+flow);
		$scope.words = flow.split(",");
	}
	
	$scope.changeWord = function(word) {		
		$scope.rootWord = word;
		$scope.reloadSynonyms();
		$scope.words.push(word)
      };
	$scope.changeWordFromRecord = function(word) {		
		$scope.rootWord = word;
		$scope.reloadSynonyms();
      };
	  
	$scope.reloadSynonyms = function() {
			
			//$scope.words[$scope.words.length-1] = $scope.rootWord;
			
			$scope.nouns = [];
			$scope.antonyms = [];
			$scope.verbs = [];	
			
		$http.get("http://words.bighugelabs.com/api/2/cba6ef9a53519fb1c16c0e493722f906/"+$scope.rootWord+"/json")
		.success(function(response) {
			$scope.result = response;			
						
						
			$scope.nouns = response.noun.syn;
			$scope.antonyms = response.noun.ant;
			$scope.verbs = response.verb.syn;
			});
      };
	
	
}
</script>

</body>
</html>